	   <div class="row">
			<section class="main col-md-9">
				<article>
				<h2>KHAI BINH NGUY - the developer</h2><br>
				<p>Hi James,<br><br>
                    My name is KhaiBinh, you can call me Rachel. I am currently studying 3rd year of Computer Programming and Analysis at Seneca College of Applied Arts &amp; Technology.
                    I like writing code for programs. It makes me feel like I'm creating something that normal reality could not do it. I am interested in C++ and web developing.
                    After graduating, I would like to work at Oracle for applications developer. I believe this area still has a lot of space to improve. I am trying to understand inside out of C++
                    and from there, I can play with other languages. <br><br>
                    Thank you for your time! <br><br>
                    Best regards,<br>
                    Rachel</p>
				</article>
			</section>		
		</div>